<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{formPage.title}"></title>
</head>
<body>
<nav>
    <div>
        <a th:href="@{/}">
            <button type="button" th:text="#{back.button}"></button>
        </a>
    </div>
</nav>
<br>
<form th:object="${task}" th:action="@{/tasks/new}" th:method="post">
    <label th:for="desc_input"> Description </label><br>
    <textarea type="text" id="desc_input" th:field="*{description}"></textarea><br>
    <br>
    <label th:for="category_input"> Category </label><br>
    <select id="category_input" th:field="*{category}">
        <option th:each="categoryOption : ${T(com.infoshareacademy.Ex7.Enum.Category).values()}"
                th:value="${categoryOption}" th:text="${categoryOption.category}"
        ></option>
    </select>
    <br>
    <br>
    <label th:for="priority_input"> Priority </label>
    <br>
    <div th:class="'alert alert-danger'" th:if="${#fields.hasErrors('priority')}">
        <ul>
            <li th:each="err : ${#fields.errors('priority')}" th:text="${err}"></li>
        </ul>
    </div>
    <br>
    <input type="number" id="priority_input" th:field="*{priority}">
    <br>
    <br>
    <label th:for="date_input">DeadLine</label>
    <br>
    <div th:class="'alert alert-danger'" th:if="${#fields.hasErrors('dueDate')}">
        <ul>
            <li th:each="err : ${#fields.errors('dueDate')}" th:text="${err}"></li>
        </ul>
    </div>
    <br>
    <input type="date" id="date_input" th:field="*{dueDate}"><br>
    <br>
    <button type="submit"th:text="#{add.button}"></button>

</form>
</body>
</html>